<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="./assets/favicon-can.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>CanaLife</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C500%2C600%2C700%2C800" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A300%2C400%2C500%2C600%2C700%2C800" />
    <link rel="stylesheet" href="./css/home.css" />
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <div class="homepage-BQN">
        <div class="auto-group-wmwy-pCS">
            <div class="rectangle-4-UgJ"></div>
            <img class="background-y7G" src="./assets/background-mXp-solid.png" />
            <div class="wave"></div>
            <img class="background-y7G" src="./assets/background-mXp-mush.png" />
            <div class="top-categories-6xa">
                <p class="top-categories-1Zk">Top Categories</p>
                <div class="auto-group-x6xk-tdY">
                    <div class="frame-1-PKQ scrollup">
                        <div class="auto-group-jxpr-JxA">
                            <div class="frame-2-Qdp">
                                <img class="wavyz3-1-300x300-1-9LW" src="./assets/wavyz3-1-300x300-1-L7L.png" />
                            </div>
                            <p class="dried-magic-mushrooms-s1c">
                                Dried Magic
                                <br />
                                Mushrooms
                            </p>
                        </div>
                        <div class="shopNow">
                            <div class="hover-item-PEr">
                                <a class="noTextDev" href="/listings">
                                    <div class="group-1-J6v invert">Shop Now</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="frame-2-CrW scrollup">
                        <div class="auto-group-tpva-x4z">
                            <div class="frame-2-5fQ">
                                <img class="wavyz3-1-300x300-1-q8n" src="./assets/wavyz3-1-300x300-1-opE.png" />
                            </div>
                            <p class="dried-magic-mushrooms-ARx">
                                Shrom
                                <br />
                                Edibles
                            </p>
                        </div>
                        <div class="shopNow">
                            <div class="hover-item-tsk">
                                <a class="noTextDev" href="/listings">
                                    <div class="group-1-pFc invert">Shop Now</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="frame-3-chG scrollup">
                        <div class="auto-group-gfhu-kYa">
                            <div class="frame-2-t8z">
                                <img class="wavyz3-1-300x300-1-dsG" src="./assets/wavyz3-1-300x300-1.png" />
                            </div>
                            <p class="dried-magic-mushrooms-9ai">
                                Magic
                                <br />
                                Mushrooms Tea
                            </p>
                        </div>
                        <div class="shopNow">
                            <div class="hover-item-4hg">
                                <a class="noTextDev" href="/listings">
                                    <div class="group-1-Pzr invert">Shop Now</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="frame-4-nn6 scrollup">
                        <div class="auto-group-wkhl-8LA">
                            <div class="frame-2-f5C">
                                <img class="wavyz3-1-300x300-1-1Px" src="./assets/wavyz3-1-300x300-1-4gA.png" />
                            </div>
                            <p class="dried-magic-mushrooms-YPt">
                                Microdosing
                                <br />
                                Capsules
                            </p>
                        </div>
                        <div class="shopNow">
                            <div class="hover-item-H6a">
                                <a class="noTextDev" href="/listings">
                                    <div class="group-1-1oG invert">Shop Now</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="canadas-ZCW">Canada’s</p>
            <p class="best-spot-to-SXC">Best Spot to</p>
            <p class="buy-shroms-online-9Ai">
                <span class="buy-shroms-online-9Ai-sub-0">Buy </span>
                <span class="buy-shroms-online-9Ai-sub-1">Shroms</span>
                <span class="buy-shroms-online-9Ai-sub-2"> </span>
                <span class="buy-shroms-online-9Ai-sub-3">Online!</span>
            </p>
        </div>
        <div class="auto-group-9rtc-jAr">
            <div class="free-discount-qDt">
                <div class="rectangle-6-Z9t">
                </div>
                <div class="dicount-icon-cP4">
                    <img class="comercial-discount-2-vPk" src="./assets/comercial-discount-2.png" />
                </div>
                <p class="get-20-off-your-1st-order-RLW">
                    Get 20% Off
                    <br />
                    Your 1st Order
                </p>
                <p class="you-get-over-99-7j8">
                    <span class="you-get-over-99-7j8-sub-0">You get over </span>
                    <span class="you-get-over-99-7j8-sub-1">$99</span>
                </p>
                <p class="coupon-code-fu4">Coupon Code</p>
                <div class="coupon-code-b22">FIRST20</div>
            </div>
            <div class="freee-shipping-card-QkA">
                <div class="rectangle-7-67C">
                </div>
                <p class="free-express-shipping-ziN">
                    Free Express
                    <br />
                    Shipping
                </p>
                <p class="orders-above-150-6mQ">
                    <span class="orders-above-150-6mQ-sub-0">Orders above </span>
                    <span class="orders-above-150-6mQ-sub-1">$150</span>
                </p>
                <p class="discreet-undetectable-ewL">Discreet, Undetectable</p>
                <div class="delivery-van-hei">
                    <img class="comercial-delivery-PGe" src="./assets/comercial-delivery-Wtz.png" />
                </div>
            </div>
            <div class="hot-banner-fjx">
                <div class="auto-group-pfzu-bNi">
                    <img class="rectangle-10-87k" src="./assets/rectangle-10.png" />
                    <p class="psychedelics-prove-to-you-that-theres-more-than-one-way-of-seeing-the-world-eLz">
                        “Psychedelics prove to you that there’s more than one way of seeing the world”</p>
                    <a class="noTextDev" href="/listings">
                        <div class="button-3e2 invert">Shop Now</div>
                    </a>
                    <p class="jesse-lawler-VW2">Jesse Lawler</p>
                </div>
            </div>
            <div class="about-us-w78">
                <div class="auto-group-rgzn-fYv">
                    <div class="auto-group-gstk-avn">
                        <p class="knowing-us-KNa">
                            <span class="knowing-us-KNa-sub-0">Knowing</span>
                            <span class="knowing-us-KNa-sub-1"> us</span>
                        </p>
                        <p class="getting-to-1uc">Getting to</p>
                    </div>
                    <p
                        class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-Xsx">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore.</p>
                </div>
                <div class="auto-group-ap86-242">
                    <img class="rectangle-12-Z3x" src="./assets/rectangle-12.png" />
                    <div class="ellipse-16-Hke">
                    </div>
                    <div class="about-text-NXC">
                        <p class="lorem-ipsum-dolor-sit-a-sectetur-adipiscing-elit-sed-do-eiusmod-tempor-fWJ">
                            <span
                                class="lorem-ipsum-dolor-sit-a-sectetur-adipiscing-elit-sed-do-eiusmod-tempor-fWJ-sub-0">Lorem
                                ipsum dolor sit a sectetur </span>
                            <span
                                class="lorem-ipsum-dolor-sit-a-sectetur-adipiscing-elit-sed-do-eiusmod-tempor-fWJ-sub-1">adipiscing</span>
                            <span
                                class="lorem-ipsum-dolor-sit-a-sectetur-adipiscing-elit-sed-do-eiusmod-tempor-fWJ-sub-2">
                                elit sed do </span>
                            <span
                                class="lorem-ipsum-dolor-sit-a-sectetur-adipiscing-elit-sed-do-eiusmod-tempor-fWJ-sub-3">eiusmod</span>
                            <span
                                class="lorem-ipsum-dolor-sit-a-sectetur-adipiscing-elit-sed-do-eiusmod-tempor-fWJ-sub-4">
                                tempor </span>
                        </p>
                        <p
                            class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-Fsp">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore.</p>
                        <div class="auto-group-p7jz-8gi invert">
                            <div class="rectangle-14-3og">
                            </div>
                            <p class="lorem-ipsum-dolor-sit-amet-ZX8">Lorem ipsum dolor sit amet, </p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="how-your-order-works-RZL">How your order works</p>
            <p class="lets-get-your-started-8Cr">let’s get your started</p>
            <div class="highlights-dQW">
                <div class="auto-group-euhx-YGa">
                    <p class="some-awesome-fc6">Some Awesome</p>
                    <p class="review-highlights-nwc">Review Highlights</p>
                </div>
                <img id="pignation-Jf4" class="pignation-Jf4" src="./assets/pignation1.png" />
                <div class="auto-group-he2e-qQ6">
                    <div id="review-1" class="group-3-m2r">
                        <p
                            class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-TwG">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua</p>
                        <div class="group-2-XRL">
                            <div class="ellipse-18-T46">
                            </div>
                        </div>
                        <p class="john-doe-Z78">John Doe</p>
                    </div>
                    <div id="review-2" class="group-4-dsg">
                        <p
                            class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-MYn">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua</p>
                        <div class="group-2-2Q2">
                            <div class="ellipse-18-xYa">
                            </div>
                        </div>
                        <p class="mary-jane-rtr">Mary Jane</p>
                    </div>
                    <div id="review-3" style="display: none;" class="group-3-m2r">
                        <p
                            class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-TwG">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua</p>
                        <div class="group-2-XRL">
                            <div class="ellipse-18-T46">
                            </div>
                        </div>
                        <p class="john-doe-Z78">Brad Pitt</p>
                    </div>
                    <div id="review-4" style="display: none;" class="group-4-dsg">
                        <p
                            class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-MYn">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua</p>
                        <div class="group-2-2Q2">
                            <div class="ellipse-18-xYa">
                            </div>
                        </div>
                        <p class="mary-jane-rtr">Jenny Pitt</p>
                    </div>
                    <div id="review-5" style="display: none;" class="group-3-m2r">
                        <p
                            class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-TwG">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua</p>
                        <div class="group-2-XRL">
                            <div class="ellipse-18-T46">
                            </div>
                        </div>
                        <p class="john-doe-Z78">Bob Smith</p>
                    </div>
                    <div id="review-6" style="display: none;" class="group-4-dsg">
                        <p
                            class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-MYn">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua</p>
                        <div class="group-2-2Q2">
                            <div class="ellipse-18-xYa">
                            </div>
                        </div>
                        <p class="mary-jane-rtr">Sam Smith</p>
                    </div>
                </div>
                <img id="cart-9NA" class="cart-9NA" src="./assets/cart-CvE.png" />
                <img id="cart-Tdk" class="cart-Tdk" src="./assets/cart-cvn.png" />
            </div>
            <div class="perks-y6J">
                <p class="top-perks-for-you-6Av">
                    <span class="top-perks-for-you-6Av-sub-0">Top</span>
                    <span class="top-perks-for-you-6Av-sub-1"> Perks</span>
                    <span class="top-perks-for-you-6Av-sub-2"> for you</span>
                </p>
                <div class="frame-18-Wtr scrollback">
                    <div class="frame-6-DYN">
                        <div class="item-0-1-M8n">
                        </div>
                    </div>
                    <div class="frame-15-qpe">
                        <div class="item-0-1-NZg">
                        </div>
                    </div>
                    <div class="frame-16-sWS">
                        <div class="item-0-1-AVY">
                        </div>
                    </div>
                    <div class="frame-17-evW">
                        <div class="item-0-1-BQe">
                        </div>
                    </div>
                </div>
                <div class="group-5-sYN">
                    <div class="auto-group-rzke-xpi">
                        <p class="lorem-ipsum-dolor-sit-amet-consectetur-Uo4">
                            <span class="lorem-ipsum-dolor-sit-amet-consectetur-Uo4-sub-0">Lorem </span>
                            <span class="lorem-ipsum-dolor-sit-amet-consectetur-Uo4-sub-1">ipsum dolor</span>
                            <span class="lorem-ipsum-dolor-sit-amet-consectetur-Uo4-sub-2"> sit amet consectetur </span>
                        </p>
                        <p
                            class="lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-4ug">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore.</p>
                        <div class="top-product-sale-YZx invert">ipsum dolos</div>
                    </div>
                    <div class="frame-19-2V8">
                        <div class="rectangle-13-aFk">
                        </div>
                        <img class="dames-1500-grape-front-600x600-1-VtW"
                            src="./assets/dames-1500-grape-front-600x600-1.png" />
                    </div>
                </div>
            </div>
            <div class="subscribtion-viv">
                <div class="auto-group-da9x-CwL">
                    <p class="subscribing-to-our-newsletters-kT4">Subscribing to our newsletters </p>
                    <p class="get-weekly-insights-on-new-products-and-offers-avialable-HSz">Get weekly insights on new
                        products and offers avialable</p>
                </div>
                <div class="auto-group-ciga-QGi">
                    <input id="your-email-address-Jst" class="your-email-address-Jst" placeholder="Your email address"
                        type="email">
                    <div class="auto-group-74qp-q78">
                        <p class="subscribe-aqQ">Subscribe</p>
                        <div id="top-product-sale-6Yr" class="top-product-sale-6Yr">Subscribe</div>
                    </div>
                </div>
            </div>
            <div class="auto-group-mgjv-hYe">
                <div class="order-process-RjY">
                    <p class="we-aim-to-provide-the-best-customer-experience-jES">we aim to provide the best customer
                        experience</p>
                    <div class="auto-group-rnzn-R7G">
                        <div id="work-1" class="auto-group-hruy-x7C">
                            <div class="rectangle-44-got">
                            </div>
                            <div class="ellipse-19-bR4">
                            </div>
                            <p class="item-1-viE">1</p>
                            <p class="place-your-order-dMk">Place your Order</p>
                        </div>
                        <div id="work-2" class="auto-group-eydu-tHg">
                            <div class="rectangle-52-bht">
                            </div>
                            <div class="ellipse-23-Umg">
                            </div>
                            <p class="item-2-cst">2</p>
                            <p class="item-2-LJ6">2</p>
                            <p class="receive-a-confirmation-email-FAA">Receive a Confirmation Email</p>
                        </div>
                    </div>
                    <div class="auto-group-dysg-WLz">
                        <div id="work-3" class="auto-group-aggj-EGz">
                            <div class="rectangle-51-jUe">
                            </div>
                            <div class="ellipse-25-oUW">
                            </div>
                            <p class="item-3-wai">3</p>
                            <p class="receive-product-tracking-details-rhg">Receive Product Tracking Details</p>
                        </div>
                        <div id="work-4" class="auto-group-8dx8-MuL">
                            <div class="rectangle-53-tuG">
                            </div>
                            <div class="ellipse-24-cKU">
                            </div>
                            <p class="item-4-ZEi">4</p>
                            <p class="get-product-to-your-door-step-UsU">Get Product to your Door Step</p>
                        </div>
                    </div>
                </div>
                <div class="group-7-jHc">
                    <p id="work-5" class="we-are-delighted-to-let-you-know-eQa">We are delighted to let you know</p>
                    <div class="auto-group-ah3p-9s8">
                        <img class="group-6-JEE" src="./assets/group-6.png" />
                        <p id="work-6" class="we-serve-all-provinces-in-canada-CqQ">
                            We serve all
                            <br />
                            Provinces
                            <br />
                            in Canada
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-dvi">
            <div class="auto-group-esm8-KHk">
                <p class="cannabises-strains-S7U">Cannabises Strains </p>
                <p class="mushroom-species-AZG">Mushroom Spices</p>
                <p class="interested-links-uFx">Interested Links </p>
                <p class="follow-us-Ep2">Follow Us</p>
            </div>
            <div class="auto-group-ciyy-z2W">
                <p class="hybrid-Vjx underline">Hybrid</p>
                <p class="mirodosing-capsules-SQJ underline">Saprotrophic</p>
                <p class="blog-Zzi underline">
                    Blog
                    <br />

                </p>
                <img class="cart-uog invert" src="./assets/cart-csc.png" />
                <img class="cart-FsY invert" src="./assets/cart-8Ee.png" />
            </div>
            <div class="auto-group-cbxy-D3g">
                <p class="sativa-9CE underline">Sativa</p>
                <p class="dried-magic-mashrooms-UkJ underline">Dried Magic Mashrooms</p>
                <p class="faq-Qtr underline">
                    FAQ
                    <br />

                </p>
            </div>
            <div class="auto-group-66dq-Mp6">
                <p class="indica-tZ8 underline">Indica</p>
                <p class="edibles-S4r underline">Edibles</p>
                <p class="coupons-Nz6 underline">Coupons</p>
            </div>
            <div class="auto-group-bcbk-j3x">
                <p class="teas-TVk underline">Teas</p>
                <p class="contact-QA6 underline">Contact</p>
            </div>
            <div class="line-1-9Na">
            </div>
            <div class="auto-group-k8qz-gtJ">
                <p class="copyright-2023-three-amigos-EQ2">Copyright @ 2023 Three Amigos</p>
                <p class="terms-conditions-9Wz underline">Terms &amp; Conditions </p>
                <div class="rectangle-49-GLi">
                </div>
                <p class="privacy-policy-CEN underline">Privacy Policy</p>
                <div class="rectangle-50-XGe">
                </div>
                <p class="sales-and-refuds-4nN underline">Sales and Refuds</p>
                <img class="positivesslsectigotag300dpi-1-Ppe" src="./assets/positivesslsectigotag300dpi-1-wCe.png" />
            </div>
        </div>
        <div class="main-top-nav-hqL">
            <img class="layer1-nrn" src="./assets/layer1-Syg.png" />
            <p class="marijuana-XJa underline">Marijuana</p>
            <a class="noTextDev" href="/listings">
                <p class="mushroom-3ni underline">Mushroom</p>
            </a>
            <div class="search-ywG">
                <input class="what-do-you-want-5jQ" placeholder="What do you want" type="search">
                <img class="interface-essential-magnifier--1sx invert"
                    src="./assets/interface-essential-magnifier-.png" />
            </div>
            <div class="frame-23-Wpi">
                <div class="account-sign-in-SCa invert">
                    <img class="user-person-ZHC" src="./assets/user-person.png" />
                    <p class="sign-in-HDC">Sign in</p>
                </div>
            </div>
            <img class="frame-22-zdQ invert" src="./assets/frame-22.png" />
            <img class="cart-XdL invert" src="./assets/cart-A1x.png" />
        </div>
    </div>
</body>
<script src="/js/home.js"></script>
<script src="/js/common.js"></script>