<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="./assets/favicon-can.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Canalife | Listings</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A300%2C400%2C500%2C600%2C700" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A300%2C400%2C500%2C600%2C700" />
    <link rel="stylesheet" href="./css/listings.css" />
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>
    <div class="shop-product-fCN">
        <div class="auto-group-j91c-ZYe">
            <div class="auto-group-gaie-GT4">What are you looking for?</div>
            <div class="auto-group-w3ml-8kA">
                <div id="frame-1" class="frame-6-qea">
                    <div class="item-0-1-M78">
                        <div class="item-0-1-M78-bg">
                        </div>
                    </div>
                    <div class="auto-group-ds5u-B6A">
                        <p class="visionary-brew-magic-mushroom-tea-h4W">Visionary Brew Magic Mushroom Tea</p>
                        <p class="item-25-yGv">$25</p>
                    </div>
                </div>
                <div id="frame-2" class="frame-7-oFx">
                    <div class="item-0-1-iti">
                        <div class="item-0-1-iti-bg">
                        </div>
                    </div>
                    <div class="auto-group-dk9g-BXQ">
                        <p class="visionary-brew-magic-mushroom-tea-uiJ">Visionary Brew Magic Mushroom Tea</p>
                        <p class="item-25-oHt">$25</p>
                    </div>
                </div>
                <div id="frame-3" class="frame-8-Sbk">
                    <div class="item-0-1-aT4">
                    </div>
                    <div class="auto-group-e38n-Vpv">
                        <p class="visionary-brew-magic-mushroom-tea-DW2">Visionary Brew Magic Mushroom Tea</p>
                        <p class="item-25-jDU">$25</p>
                    </div>
                </div>
            </div>
            <div class="auto-group-slta-P38">
                <div id="frame-4" class="frame-9-6iE">
                    <div class="item-0-1-cAn">
                    </div>
                    <div class="auto-group-5g9y-izW">
                        <p class="visionary-brew-magic-mushroom-tea-etA">Visionary Brew Magic Mushroom Tea</p>
                        <p class="item-25-ArW">$25</p>
                    </div>
                </div>
                <div id="frame-5" class="frame-10-RnS">
                    <div class="item-0-1-iWe">
                    </div>
                    <div class="auto-group-tysk-qLN">
                        <p class="visionary-brew-magic-mushroom-tea-ANe">Visionary Brew Magic Mushroom Tea</p>
                        <p class="item-25-HCN">$25</p>
                    </div>
                </div>
                <div id="frame-6" class="frame-11-k5x">
                    <div class="item-0-1-gEW">
                    </div>
                    <div class="auto-group-8csc-Cie">
                        <p class="visionary-brew-magic-mushroom-tea-Y1p">Visionary Brew Magic Mushroom Tea</p>
                        <p class="item-25-TPg">$25</p>
                    </div>
                </div>
            </div>
            <p class="explore-some-edibles-JQJ">
                <span class="explore-some-edibles-JQJ-sub-0">Explore Some</span>
                <span class="explore-some-edibles-JQJ-sub-1"> </span>
                <span class="explore-some-edibles-JQJ-sub-2">Edibles</span>
            </p>
            <p class="faq-about-lorem-ipsum-6zN">
                <span class="faq-about-lorem-ipsum-6zN-sub-0">FAQ About </span>
                <span class="faq-about-lorem-ipsum-6zN-sub-1">Lorem Ipsum </span>
            </p>
            <div class="line-2-442">
            </div>
            <div class="auto-group-8vnw-P6J">
                <div class="auto-group-ejqk-JUA">
                    <div class="rectangle-64-3Ar">
                    </div>
                    <div class="ks-bloom-back-705x705-1-8CJ">
                    </div>
                    <p class="tomorrows-reason-why-QQi">Tomorrows Reason Why</p>
                    <p class="dosing-protocol-Wie">Dosing Protocol</p>
                    <div class="top-product-sale-Rqc invert">Available to Buy</div>
                </div>
                <div class="auto-group-iexi-JPc">
                    <div class="top-product-sale-pMx invert">Available to Buy</div>
                </div>
            </div>
            <div class="auto-group-gwb8-R6r">
                <div class="faq-expand-rrN toRight">
                    <p class="lorem-ipsum-dolor-sit-amet-AcA">Lorem ipsum dolor sit amet</p>
                    <img class="arrows-chevron-arrow-right-h6J" src="./assets/arrows-chevron-arrow-right-e3t.png" />
                </div>
            </div>
            <div class="faq-expand-aQz toRight">
                <p class="lorem-ipsum-dolor-sit-amet-VXx">Lorem ipsum dolor sit amet</p>
                <img class="arrows-chevron-arrow-right-DTx" src="./assets/arrows-chevron-arrow-right-gQi.png" />
            </div>
            <p class="how-your-order-works-he2">How your order works</p>
            <p class="lets-get-your-started-1Pp">let’s get your started</p>
            <div class="auto-group-9zyc-Jti">
                <div class="order-process-35c">
                    <p class="we-aim-to-provide-the-best-customer-experience-xCa">we aim to provide the best customer
                        experience</p>
                    <div class="auto-group-rguy-S7k">
                        <div id="work-1" class="auto-group-p8b4-mfp">
                            <div class="rectangle-44-Jve">
                            </div>
                            <div class="ellipse-19-cgS">
                            </div>
                            <p class="item-1-MP8">1</p>
                            <p class="place-your-order-ran">Place your Order</p>
                        </div>
                        <div id="work-2" class="auto-group-mezn-xti">
                            <div class="rectangle-52-WfL">
                            </div>
                            <div class="ellipse-23-RGW">
                            </div>
                            <p class="item-2-AUz">2</p>
                            <p class="item-2-UVg">2</p>
                            <p class="receive-a-confirmation-email-nWN">Receive a Confirmation Email</p>
                        </div>
                    </div>
                    <div class="auto-group-fuee-V9t">
                        <div id="work-3" class="auto-group-fn98-dmt">
                            <div class="rectangle-51-aBL">
                            </div>
                            <div class="ellipse-25-gEN">
                            </div>
                            <p class="item-3-DVC">3</p>
                            <p class="receive-product-tracking-details-wRC">Receive Product Tracking Details</p>
                        </div>
                        <div id="work-4" class="auto-group-suzs-qmU">
                            <div class="rectangle-53-zPU">
                            </div>
                            <div class="ellipse-24-7U6">
                            </div>
                            <p class="item-4-FaJ">4</p>
                            <p class="get-product-to-your-door-step-GEW">Get Product to your Door Step</p>
                        </div>
                    </div>
                </div>
                <div class="group-7-KTg">
                    <p id="work-5" class="we-are-delighted-to-let-you-know-Eae">We are delighted to let you know</p>
                    <div class="auto-group-jzyi-YbL">
                        <img class="group-6-Hop" src="./assets/group-6-ou4.png" />
                        <p id="work-6" class="we-serve-all-provinces-in-canada-QdY">
                            We serve all
                            <br />
                            Provinces
                            <br />
                            in Canada
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-SKL">
            <div class="auto-group-y3pn-vEW">
                <p class="cannabises-strains-STk">Cannabises Strains </p>
                <p class="mushroom-species-AuY">Mushroom Species</p>
                <p class="interested-links-iAN">Interested Links </p>
                <p class="follow-us-Ss4">Follow Us</p>
            </div>
            <div class="auto-group-mwxr-ayG">
                <p class="hybrid-VaS underline">Hybrid</p>
                <p class="mirodosing-capsules-dge underline">Mirodosing Capsules</p>
                <p class="blog-Aga underline">
                    Blog
                    <br />

                </p>
                <img class="cart-iCJ invert" src="./assets/cart-zmp.png" />
                <img class="cart-Fxv invert" src="./assets/cart-Hmc.png" />
            </div>
            <div class="auto-group-ebdc-D94">
                <p class="sativa-k8z underline">Sativa</p>
                <p class="dried-magic-mashrooms-UKt underline">Dried Magic Mashrooms</p>
                <p class="faq-14v underline">
                    FAQ
                    <br />

                </p>
            </div>
            <div class="auto-group-rtyq-8fL">
                <p class="indica-Thc underline">Indica</p>
                <p class="edibles-bYv underline">Edibles</p>
                <p class="coupons-e1Q underline">Coupons</p>
            </div>
            <div class="auto-group-c1ye-n7c">
                <p class="teas-i1G underline">Teas</p>
                <p class="contact-TDk underline">Contact</p>
            </div>
            <div class="line-1-bKx">
            </div>
            <div class="auto-group-uxfg-jh4">
                <p class="copyright-2023-three-amigos-Gwt">Copyright @ 2023 Three Amigos</p>
                <p class="terms-conditions-C4r underline">Terms &amp; Conditions </p>
                <div class="rectangle-49-Jdg">
                </div>
                <p class="privacy-policy-3rA underline">Privacy Policy</p>
                <div class="rectangle-50-abC">
                </div>
                <p class="sales-and-refuds-vQA underline">Sales and Refuds</p>
                <img class="positivesslsectigotag300dpi-1-T9C" src="./assets/positivesslsectigotag300dpi-1-cxr.png" />
            </div>
        </div>
        <div class="user-top-nav-Zi2">
            <img class="layer1-3dC" src="./assets/layer1-umL.png" />
            <p class="cannabis-n4z underline">MARIJUANA</p>
            <a class="noTextDev" href="/listings">
                <p class="mushroom-5Zt underline">Mushroom</p>
            </a>
            <div class="search-QMG">
                <input class="what-do-you-want-6Uz" placeholder="What do you want" type="search">
                <img class="interface-essential-magnifier--2dY invert" src="./assets/interface-essential-magnifier--LAN.png" />
            </div>
            <div class="my-account-XqC">
                <div class="ellipse-28-FmC">
                </div>
                <p class="account-AdG invert">Account</p>
            </div>
            <img class="wishlist-JUa invert" src="./assets/wishlist-4U2.png" />
            <div class="auto-group-p4ys-E7L">
                <img class="add-cart-YNv invert" src="./assets/add-cart-zzE.png" />
                <div class="count-H5c">0</div>
            </div>
        </div>
        <div class="group-25-LZg">
            <div id="list-1" class="group-24-pDx">
                <img class="layout-grid-2-ZSS" src="./assets/layout-grid-2-L3C.png" />
                <p class="all-tDp">All </p>
            </div>
            <div id="list-2" class="group-19-dBQ">
                <img class="layout-grid-2-n4J" src="./assets/layout-grid-2-8FU.png" />
                <p class="aphrodisiac-J2e">Aphrodisiac</p>
            </div>
            <div id="list-3" class="group-18-Egz">
                <img class="layout-grid-2-C82" src="./assets/layout-grid-2-8FU.png" />
                <p class="cognitive-KTY">Cognitive</p>
            </div>
            <div id="list-4" class="group-20-Tpe">
                <img class="layout-grid-2-Qzn" src="./assets/layout-grid-2-8FU.png" />
                <p class="energy-LtS">Energy</p>
            </div>
            <div id="list-5" class="group-21-hDC">
                <img class="layout-grid-2-TCN" src="./assets/layout-grid-2-8FU.png" />
                <p class="immune-support-ywQ">Immune Support</p>
            </div>
            <div id="list-6" class="group-22-itz">
                <img class="layout-grid-2-HSJ" src="./assets/layout-grid-2-8FU.png" />
                <p class="pure-mushroom-QG2">Pure Mushroom</p>
            </div>
            <div id="list-7" class="group-23-wmk">
                <img class="layout-grid-2-i1p" src="./assets/layout-grid-2-8FU.png" />
                <p class="trip-stopper-F1k">Trip Stopper</p>
            </div>
        </div>
    </div>
</body>
<script src="/js/listings.js"></script>
<script src="/js/common.js"></script>